@model Project_COVID_19.Models.Survey

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Survey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AttentionType" class="control-label"></label>
                <input asp-for="AttentionType" class="form-control" />
                <span asp-validation-for="AttentionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceType" class="control-label"></label>
                <input asp-for="ServiceType" class="form-control" />
                <span asp-validation-for="ServiceType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FirstAnswer" /> @Html.DisplayNameFor(model => model.FirstAnswer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SecondAnswer" /> @Html.DisplayNameFor(model => model.SecondAnswer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ThirdAnswer" /> @Html.DisplayNameFor(model => model.ThirdAnswer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FourthAnswer" /> @Html.DisplayNameFor(model => model.FourthAnswer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FifthAnswer" /> @Html.DisplayNameFor(model => model.FifthAnswer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SixthAnswer" /> @Html.DisplayNameFor(model => model.SixthAnswer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EighthAnswer" /> @Html.DisplayNameFor(model => model.EighthAnswer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NinthAnswer" /> @Html.DisplayNameFor(model => model.NinthAnswer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TenthAnswer" /> @Html.DisplayNameFor(model => model.TenthAnswer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EleventhAnswer" /> @Html.DisplayNameFor(model => model.EleventhAnswer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TwelfthAnswer" /> @Html.DisplayNameFor(model => model.TwelfthAnswer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ThirteenthAnswer" /> @Html.DisplayNameFor(model => model.ThirteenthAnswer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FourteenthAnswer" /> @Html.DisplayNameFor(model => model.FourteenthAnswer)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
