@model IEnumerable<Project_COVID_19.Models.Survey>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttentionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirdAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FourthAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FifthAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SixthAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EighthAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NinthAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenthAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EleventhAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwelfthAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThirteenthAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FourteenthAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttentionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FourthAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FifthAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SixthAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EighthAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NinthAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenthAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EleventhAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwelfthAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirteenthAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FourteenthAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
